@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html ,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(74, 12, 90);
}
.button{
    width:66px;
    padding:20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    background-color:blueviolet;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 23px;
    margin: 0;
    padding:10px 0px;
    border:3px solid black;
    border-radius:10px;
    width:291px
}
.row,.button{
    font-size:2rem;
    
}
